* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  position: relative;
  overflow: hidden;
}

.header {
  min-height: 75px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 41px;
}

.header_right {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 33px;
}

.header_checkbox {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}

.header_checkbox:checked~.mobile-menu {
  right: 0;
}

.mobile-menu {
  position: absolute;
  top: 75px;
  right: -232px;
  z-index: 1;
  -webkit-transition: right 0.6s;
  transition: right 0.6s;
  width: 232px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile-menu_link-site {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #e8e8e8;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: none;
}

.mobile-menu_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.mobile-menu_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.mobile-menu_link:hover {
  color: #F16D7F;
}

.mobile-menu_title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.mobile-menu_list {
  list-style-type: none;
  padding-left: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 11px;
  margin-top: 12px;
}

.mobile-menu_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo_img {
  width: 50%;
}

.promo_info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 48%;
}

.promo_title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo_content {
  padding-left: 64px;
}

.promo_fashion_word {
  color: #F16D7F;
}

.sale {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale_item {
  position: relative;
}

.sale_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sale_item_big {
  grid-column: 1 / -1;
}

.sale_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.product-box {
  padding-bottom: 96px;
}

.product-box_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.product-box_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}

.product-box_content {
  margin-top: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[auto-fit];
  grid-template-columns: repeat(auto-fit, 360px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.product {
  position: relative;
}

.product:hover .product_img {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.product:hover .product_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_img {
  width: 100%;
}

.product_add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}

.product_add:hover {
  -webkit-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
}

.product_add:hover svg path {
  fill: #F16D7F;
}

.product_content {
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product_price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.advantages {
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.advantages_item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}

.advantages_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.head {
  min-height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.head_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb_box-link:last-child .breadcrumb_link {
  font-weight: 700;
  color: #F16D7F;
}

.breadcrumb_box-link:not(:last-child)::after {
  content: '/';
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb_link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb_link:hover {
  color: #F16D7F;
}

.button {
  width: 212px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 22px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button:hover {
  cursor: pointer;
  border: 1px solid #e8e8e8;
  color: #e8e8e8;
  color: #EAEAEA;
  background-color: #F16D7F;
}

.content {
  background-color: #fff;
  border: 1px solid #EAEAEA;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1140px;
  margin: -65px auto 0;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content_line {
  padding-bottom: 0.5em;
}

.content_line-big {
  padding-bottom: 2em;
}

.browse_button {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  background-color: #222222;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.footer_text {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe {
  min-height: 32em;
  flex-shrink: 0;
  background-image: url('../img/subscribe.jpg');
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.subscribe_info {
  width: 40%;
  padding-left: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subscribe_info p {
  width: 65%;
}

.subscribe_avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2em;
}

.subscribe_avatar img {
  transform: scale(1.3);
  padding-top: 0.4em;
}

.subscribe_input {
  width: 40%;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 20px;
  text-align: center;
}


.email-form {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.email-form input[type="email"] {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #E1E1E1;
  padding-left: 1em;
  margin-right: -5px;
  font-size: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 1.2;
  flex-shrink: 1;
}

.email-form button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #F16D7F;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-shrink: 0;
}

.email-form button:hover {
  background-color: #e05366;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icons_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 30px;
  height: 30px;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 0;
}

.icons_link:hover {
  background-color: #F16D7F;
}

.icons_link svg {
  width: 70%;
  height: 70%;
}

@media ((max-width: 767px)) {
  body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
  }

  .promo_img {
    display: none;
  }

  .promo_info {
    margin-top: 1em;
  }

  .sale {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding-top: 64px;
    padding-bottom: 96px;
  }

  .subscribe {
    flex-direction: column;
  }

  .subscribe {
    min-height: 28em;
  }

  .subscribe_info {
    width: 65%;
    padding-top: 1em;
    padding-left: 0;
  }
}

@media ((max-width: 410px)) {
  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    margin-top: 1em;
  }
}

@media ((max-width: 340px)) {
  body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: #F16D7F;
  }

  .product-box_text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 12px;
    color: #e8e8e8;
  }

  .button {
    width: 212px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #e8e8e8;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #e8e8e8;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #EAEAEA;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 22px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  .button:hover {
    cursor: pointer;
    border: 1px solid #cc485a;
    color: #F16D7F;
    background-color: #e8e8e8;
  }

  .subscribe {
    min-height: 28em;
  }

  .subscribe_info {
    width: 90%;
    padding-top: 1em;
    padding-left: 0;
  }

  .subscribe_input {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }

  .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .email-form input[type="email"] {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #E1E1E1;
    padding-left: 0;
    margin-right: 0;
    font-size: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    flex-grow: 1.2;
    flex-shrink: 1;
    text-align: center;
  }

  .email-form button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #F16D7F;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    flex-shrink: 0;
  }
}